#colors {
    --html-tag-color: #73bd83;
    --template-object-color: #8872b5;
    --background-color: #282a36;
    --language-keywords-color: #e873c6;
    --language-method-parameter-color: #ffa453;
}
