html, body {
    width: 100%;
    height: 100vh;
    font-family: "Mark Pro medium", sans-serif;
    margin: 0;
    padding: 0;
}

/* header  */
header {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 4px 8px 0 rgba(90, 185, 234, 0.3);
}

.logo-div {
    position: relative;
    width: 20%;
    font-family: "Nexa Black", sans-serif;
}

.logo-div a {
    /*position: relative;*/
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    animation: color-fade 5s infinite alternate-reverse;
    transition: all 0.4s ease;

    cursor: pointer;
}

.header-menu-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63%;
    font-size: 1.3rem;
}

.header-menu-div > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.header-menu-div > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header-menu-div > ul > li > a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
    color: black;
}

.user-div {
    cursor: pointer;
    width: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5ab9ea;
    color: white;
    transition: all 0.3s ease-in-out;
}

.user-div-inner {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-div-inner > .auth-span, .username-span {
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.username-span > div {
    background-color: #5b80b2;
    border-radius: 0.5rem;
    padding: 1rem;
}

.user-div-inner > span > a {
    width: 30%;
    background-color: #8860d0;
    text-decoration: none;
    padding: 1rem;
    color: whitesmoke;
    transition: background-color 0.4s ease-in-out;
}

.user-div-inner > span > a:hover {
    background-color: #388db4;
}


/* animations */
@keyframes color-fade {
    0% {
        background-color: #5ab9ea;
    }
    50% {
        background-color: #5690e9;
    }
    100% {
        background-color: #8860d0;
    }
}


/* effects */
.logo-div > a:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    content: "";
    transform-origin: top;
    background-color: white;
    transform: scaleY(0);
    transition: all 0.4s ease-in-out;
}

.logo-div > a:hover:before {
    transform: scaleY(1);
}

.logo-div > a:hover > div {
    position: relative;
    color: #5ab9ea;
    transition: all 0.4s ease;
}

.header-menu-div ul li a:hover {
    background-color: #8860d0;
    color: white;
    transition: all 0.3s ease-in-out;
}

.user-div:hover {
    background-color: white;
    color: #5ab9ea;
    transition: all 0.3s ease-in-out;
}

.pagination-list {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 3rem 0;
}

.pagination-list > ul {
    width: 50%;
    height: 60%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.pagination-list > ul > li {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.page-num {
    border: #5690e9 2px solid;
    transition: all 0.3s ease-in-out;
}

.page-num > a {
    text-decoration: none;
    color: #5690e9;
}

.page-num:hover {
    background-color: #5690e9;
}

.page-num:hover > a {
    color: white;
}

.page-selected {
    border: #8860d0 2px solid;
    color: #8860d0;
    transition: all 0.3s ease-in-out;
}

.page-selected:hover {
    background-color: #8860d0;
    color: white;
}
