{% load static %}
{#{% load cache %}#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//db.onlinewebfonts.com/c/3752a0f4c3f80b95df1301564a50b30e?family=Nexa+Black" rel="stylesheet" type="text/css"/>
    <link href="//db.onlinewebfonts.com/c/a05747eaf46bae50f19dfa950b86befd?family=Mark+Pro+Medium" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'qazmusic/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'qazmusic/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'qazmusic/css/index.css' %}">
</head>
<body>
{#{% cache 60 header %}#}
<header>
    <div class="logo-div">
        <a href="{% url 'home' %}">
            <div>
                qazmusic
            </div>
        </a>
    </div>
    <div class="header-menu-div">
        <ul>
            {% for title, url_name in header_menu.items %}
                <li>
                    <a href="{% url url_name %}">
                        {{ title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="user-div">
        <div class="user-div-inner">
            {% if request.user.is_authenticated %}
                <span class="username-span">
                    <div>
                        {{ user.username }}
                    </div>
                    <a href="{% url 'logout' %}">
                        Logout
                    </a>
                </span>
            {% else %}
                <span class="auth-span">
                    <a href="{% url 'register' %}">Register</a>
                    <a href="{% url 'login' %}">Login</a>
                </span>
            {% endif %}
        </div>
    </div>
</header>
{#{% endcache %}#}

{% block content %}

{% endblock %}

</body>
</html>
