{% extends 'qazmusic/base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'qazmusic/css/artist-view.css' %}">
    <link rel="stylesheet" href="{% static 'qazmusic/css/audio-player.css' %}">
    <main class="artist-view-page">
        <div class="left">
            <div class="artist-card">
                <div class="artist-photo"
                     style="background:url('{{ chart.photo.url }}') no-repeat center; background-size: cover">
                </div>
                <div class="artist-info">
                    <h2>{{ chart.title }}</h2>
                    <p>{{ chart.number_of_tracks.count }} songs</p>
                </div>
            </div>
        </div>
        <div class="right">
            <h2>Playlist</h2>
            {% for track in tracks_in_chart %}
                <div class="track-div">
                    <p>{{ track.title }}</p>
                    <audio src="{{ track.file.url }}"
                           controls
                           class="track-audio">
                    </audio>
                    <div>
                        <span>
                            <a class="edit" href="{% url 'update' track.pk %}">Edit tag</a>
                            <a class="delete" href="{% url 'delete_track' track.pk %}">Delete</a>
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
